<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale+1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./stylesheet.css">
</head>

<body class="indigo darken-4">
    <header>
        <nav class="cyan lighten-3">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo black-text">Survey Website</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="login.html" class="black-text">Log In</a></li>
                    <li><a href="signup" class="black-text">Sign Up</a></li>
                    <li><a href="/" class="black-text">Donate to Team</a></li>
                </ul>
            </div>
        </nav>
    </header>

</body>
<div class="container">
    <h1 class="left white-text">Survey Page</h1>
    <p class="left white-text">
        Welcome to the Survey Website
    </p>
</div>


</html>