<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale+1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./views/css/stylesheet.css">
  <title>Survey Website Sign Up</title>

</head>

<body class="indigo darken-4">
    <!-- Nav Bar -->
  <header>
    <nav class="cyan lighten-3">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo black-text">Survey Website</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="login.html" class="black-text">Log In</a></li>
          <li><a href="signup.html" class="black-text">Sign Up</a></li>
          <li><a href="/" class="black-text">Donate to Team</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Sign Up Form -->
  <div class="row signup-container">
    <form>
      <div class="row">
        <h2 class="center white-text">Welcome Back to Website Page!</h2>
      <div>
        <div class="row">
          <div class="input-field col s12">
            <label class="active" for="email">Email</label>
            <input id="login-email" type="email" class="validate" style="color: #eeeeee;"/>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <label class="active" for="password">Password</label>
            <input id="login-password" type="password" class="validate" style="color: #eeeeee;"/>
          </div>
      </div>
      <div>
        <button type="submit" id="signup-button" class="waves-effect waves-light btn">Log In</button>
      </div>
    </form>
    <!-- Website Footer -->
  </div>






</body>

</html>