<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale+1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./views/css/stylesheet.css">
    <title>EasySurvey</title>
</head>

<body class="indigo darken-4">
    <header>
        <nav class="cyan lighten-3">
            <div class="nav-wrapper container">
                <a href="" class="brand-logo black-text">EasySurvey</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="login.html" class="black-text">Log In</a></li>
                    <li><a href="signup" class="black-text">Sign Up</a></li>
                    <li><a href="" class="black-text">Donate to Team</a></li>
                </ul>
            </div>
        </nav>
    </header>


<div class="container">
    <h1 class="left white-text">EasySurvey</h1>
    </div>
    <div class="container">
    <h4 class="left white-text">
        Welcome to the EasySurvey. A little about this page, Easy Survey is a space where you can create Surveys 
        about any topic, genre, political questions, etc. Other users can vote to any surveys that you created.
        To create a survey, please Sign Up to create an account to create surveys. If you are a returning user, please Log In.
    </h4>
    </div>

   
</body>
    


</html>